<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>landing</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">landing</ion-title>
    </ion-toolbar>
  </ion-header>
  <body>

    <img src="assets/swave-007-logos/72ppi/colored.png" alt="colored-logo">

    <h1 id="name">sharkwave</h1>
    <h1 id="tag">Let's get <span id="frenzy">FRENZY</span></h1>

    <div>
      <ion-button fill="clear" routerLink="/shark-id">
        GET STARTED
        <img src="assets/icon/arrow-right-b.png" style="width: 20px; height: 20px;">
      </ion-button>
    </div>

    <h1 id="creator">sharkwave by <span id="frenzy">DeltaTEK</span> | 2024 </h1>


  </body>

</ion-content>
