<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button href="/shark"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-family: 'Teachers'; font-style: bolder;">University of Northern Philippines</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" >
  <img src="/assets/util-cover/unp-logo.png" alt="unp">
  <h3>Manus  | Cor | Mens</h3>
  <div>
    <h2>UNP Mission</h2>
    <h4>
      To produce globally skilled and<br>morally upright professionals<br>
      instilled with rich cultural values.
    </h4>
  </div>

  <div class="horizontal">
    <div class="line"></div>
  </div>

  <div>
    <h2>UNP Vision</h2>
    <h4>
      A Globally Recognized university <br> in a Heritage City by 2030.
    </h4>
  </div>

  <div class="horizontal">
    <div class="line"></div>
  </div>


    <h2>CORE VALUES:<br>SERVANT Leadership</h2>

      <h4 id="servant1"><strong>S</strong>elfless Service <br></h4>
      <h4 id="servant2"><strong>E</strong>xcellence <br></h4>
      <h4 id="servant3"><strong>R</strong>espect and righteousness <br></h4>
      <h4 id="servant4">inno<strong>V</strong>ation <br></h4>
      <h4 id="servant5"><strong>A</strong>ltruism <br></h4>
      <h4 id="servant6">i<strong>N</strong>tegrity <br></h4>
      <h4 id="servant7"><strong>T</strong>ransparency and Teamwork</h4>


  <div class="horizontal">
    <div class="line"></div>
  </div>

  <div>
    <h2>UNP Quality Policy</h2>
    <h4>
        We are committed to provide excellent <br>
        instruction, research, and extension <br>
        services toward the development of <br>
        globally skilled and morally upright <br>
        graduates instilled with rich cultural <br>
        values and total satisfaction of <br>
        stakeholders. <br>
        <br>
        We abide by applicable requirements <br>
        and continuously review and proactively <br>
        improve our quality management system <br>
        for value creation and protection. <br>
    </h4>
  </div>

  <div class="horizontal">
    <div class="line"></div>
  </div>
  <br>
  <br>
    <h5>Togerther, WE SOAR HIGHER</h5>
    <h5>Togerther, WE BUILD CHARACTER</h5>
    <h5>Togerther, WE INSPIRE FUTURE</h5>


</ion-content>

