 <ion-content [fullscreen]="true">
  <body>
    <div class="back">
      <ion-button fill="clear" shape="round" (click)="returnToPrevious()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </div>
    <div class="logo">
      <ion-img src="assets/swave-007-logos/72ppi/colored.png"></ion-img>
    </div>
    <p id="title">Choose your <br> Interests...</p>
      <div class="container">
        <div class="description">This will help and allow <br> us to recommend you contents</div>

        <form action="">
          <div class="interests-list">
            <h3><b>Interests</b></h3>
            <div *ngIf="selectedInterests.length > 0">
              <p>{{ selectedInterests.join(', ') }}</p>
            </div>

            <div class="main-list">
              <ion-button
              *ngFor="let button of interests; let i = index"
              [fill]="button.isFilled ? 'solid' : 'outline'"
              (click)="toggleFill(i)"
              color="primary"
              class="interests">
              {{ button.label }}
            </ion-button>
           </div>
          </div>

          <div class="submit">
            <ion-button routerLink="/home">
              Submit
            </ion-button>
          </div>
        </form>
      </div>
  </body>
</ion-content>
