<ion-content [fullscreen]="true">
  <body>
    <div class="back">
      <ion-button fill="clear" shape="round" (click)="returnToPrevious()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </div>

    <div class="otp-container">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Enter OTP</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>We have sent a One-Time Pin (OTP) to your registered UNP ID.</p>
          <p>Please enter the 6-digit code below:</p>
          <!-- OTP Input Fields -->
          <div class="otp-inputs">
            <ion-input #otp1 type="text" maxlength="1" inputmode="numeric" (input)="moveToNext($event, otp2)"></ion-input>
            <ion-input #otp2 type="text" maxlength="1" inputmode="numeric" (input)="moveToNext($event, otp3)"></ion-input>
            <ion-input #otp3 type="text" maxlength="1" inputmode="numeric" (input)="moveToNext($event, otp4)"></ion-input>
            <ion-input #otp4 type="text" maxlength="1" inputmode="numeric" (input)="moveToNext($event, otp5)"></ion-input>
            <ion-input #otp5 type="text" maxlength="1" inputmode="numeric" (input)="moveToNext($event, otp6)"></ion-input>
            <ion-input #otp6 type="text" maxlength="1" inputmode="numeric"></ion-input>
          </div>
          <ion-button id="verify" expand="block" (click)="verifyOtp()">Verify</ion-button>
          <ion-button id="resend" fill="clear" color="medium" (click)="resendOtp()">Resend Code</ion-button>
        </ion-card-content>
      </ion-card>
    </div>
    <div class="gear">
      <ion-img src="assets/SVG/blue-gear.svg"></ion-img>
    </div>
    <div class="gear">
      <ion-img src="assets/SVG/gold-gear.svg"></ion-img>
    </div>
  </body>
</ion-content>

<ion-footer>
  <ion-item>
    <ion-title size="small" class="footer-text">
      Didn't receive the OTP? Tap Resend to try again.
   </ion-title>
  </ion-item>
</ion-footer>
