<ion-header>
  <ion-toolbar>
    <ion-title>Create Post</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="submitPost()" #postForm="ngForm">
    <ion-item>
      <ion-label position="floating">Caption</ion-label>
      <ion-textarea [(ngModel)]="postContent" name="caption" required></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>Media</ion-label>
      <input type="file" (change)="onFileSelected($event)" />
    </ion-item>

    <ion-item>
      <ion-label>Tags</ion-label>
      <ion-select [(ngModel)]="selectedTags" multiple="true" name="tags">
        <ion-select-option *ngFor="let tag of predefinedTags" [value]="tag">{{ tag }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="!postForm.valid">Create Post</ion-button>
  </form>
</ion-content>