
<ion-content [fullscreen]="true">
  <ion-content [fullscreen]="true">
    <div class="button-container">
      <ion-button size="large" href="/nasaririt-map">
        <img src="assets/util-cover/route.png"/>
      </ion-button>
      <h5>Nasaririt Vicinity Map</h5>
    </div>

    <div class="button-container">
      <ion-button size="large" routerLink="/delta">
        <img src="assets/util-cover/sharpen.png"/>
      </ion-button>
      <h5>DeltaAI</h5>
    </div>

    <div class="button-container">
      <ion-button size="large" routerLink="/colleges">
        <img src="assets/util-cover/school.png"/>
      </ion-button>
      <h5>Colleges</h5>
    </div>

    <div class="button-container">
      <ion-button size="large" href="http://unp.edu.ph/">
        <img style="height: 100px; width: auto;" src="assets/util-cover/unp-logo.png"/>
      </ion-button>
      <h5>UNP Website</h5>
    </div>

    <div class="button-container">
      <ion-button size="large" routerLink="/philosophies">
        <img style="height: 100px; width: auto;" src="assets/util-cover/unp-logo.png"/>
      </ion-button>
      <h5>UNP Philosophies</h5>
    </div>
  </ion-content>

</ion-content>
