
*{
  font-family: Damili-Regular;
}
ion-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

ion-avatar img {
  border-radius: 50%;
}

ion-item {
  --min-height: 50px;
  --padding-start: 8px;
}

ion-card-content {
  font-size: 16px;
  line-height: 1.5;
}
