<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Welcome Back</h2>
  <p>Please log in to access your account.</p>

  <ion-item>
    <ion-label position="floating">UNP ID</ion-label>
    <ion-input [(ngModel)]="unpID" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input [(ngModel)]="password" type="password" required></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="logIn()">Log In</ion-button>
</ion-content>
