.map-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  touch-action: none; // Disable default touch actions
}

.map-image {
  width: 100%; // Start with full container width
  height: auto;
  position: absolute;
  transform-origin: center center; // Keep zoom centered
  transition: transform 0.1s ease-out; // Smooth transition
}
