
  <ion-toolbar style="--ion-toolbar-shadow:none">
    <div class="back">
      <ion-button fill="clear" shape="round" (click)="returnToPrevious()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </div>

    <ion-buttons slot="start">
      <ion-back-button href="/shark"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-family: 'Damili-Bold'; font-weight: bolder;">Colleges</ion-title>

  </ion-toolbar>


<ion-content [fullscreen]="true">
  <div class="colleges">
    <ion-button color="white" style="height: 330px; width: 330px;">
      <img src="assets/colleges/CARCH.png" alt="carch">
    </ion-button>

    <ion-button color="white" style="height: 330px; width: 330px;">
      <img src="assets/colleges/CAS.png" alt="cas">
    </ion-button>

    <ion-button color="white" style="height: 330px; width: 330px;">
      <img src="assets/colleges/CBAA.png" alt="cbaa">
    </ion-button>

    <ion-button color="white" style="height: 330px; width: 330px;">
      <img src="assets/colleges/CCIT.png" alt="ccit">
    </ion-button>

    <ion-button color="white" style="height: 330px; width: 330px;">
      <img src="assets/colleges/CCJE.png" alt="ccge">
    </ion-button>

    <ion-button color="white" style="height: 330px; width: 330px;">
      <img src="assets/colleges/CE.png" alt="ce">
    </ion-button>

    <ion-button color="white" style="height: 330px; width: 330px;">
      <img src="assets/colleges/CFAD.png" alt="cfad">
    </ion-button>

    <ion-button color="white" style="height: 330px; width: 330px;">
      <img src="assets/colleges/CHS.png" alt="chs">
    </ion-button>

    <ion-button color="white" style="height: 330px; width: 330px;" routerLink='/org-charts/chtm-org-chart'>
      <img src="assets/colleges/CHTM.png" alt="chtm" >
    </ion-button>

    <ion-button color="white" style="height: 330px; width: 330px;">
      <img src="assets/colleges/CLAW.png" alt="claw">
    </ion-button>

    <ion-button color="white" style="height: 330px; width: 330px;">
      <img src="assets/colleges/CMED.png" alt="cmed">
    </ion-button>

    <ion-button color="white" style="height: 330px; width: 330px;">
      <img src="assets/colleges/CN.png" alt="cn">
    </ion-button>

    <ion-button color="white" style="height: 330px; width: 330px;">
      <img src="assets/colleges/CPAD.png" alt="cpad">
    </ion-button>

    <ion-button color="white" style="height: 330px; width: 330px;">
      <img src="assets/colleges/CSW.png" alt="csw">
    </ion-button>

    <ion-button color="white" style="height: 330px; width: 330px;">
      <img src="assets/colleges/CTECH.png" alt="ctech">
    </ion-button>

    <ion-button color="white" style="height: 330px; width: 330px;">
      <img src="assets/colleges/CTE.png" alt="cte">
    </ion-button>
  </div>
</ion-content>

