<ion-content [fullscreen]="true">
  <div class="back">
    <ion-button fill="clear" shape="round" (click)="returnToPrevious()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </div>

  <div class="logo">
    <ion-img src="assets/swave-007-logos/72ppi/colored.png"></ion-img>
  </div>
  <p>Setting up your <br> account...</p>
  <form action="">
    <div class="credentials">
      <h3>CREDENTIALS</h3>
      <div class="input-box">
        <input type="text"  required>
        <label>SharkID</label>
      </div>

      <div class="input-box">
        <input type="password" required>
        <label>Password</label>
      </div>

      <div class="input-box">
        <input type="text"  required>
        <label>UNP E-mail</label>
      </div>
    </div>

    <div class="personal">
      <h3>PERSONAL INFORMATION</h3>
      <h6>Name</h6>

      <div class="name">
        <div class="input-box">
          <input type="text"  required>
          <label>First Name</label>
        </div>

        <div class="input-box">
          <input type="text"  required>
          <label>Middle Name</label>
        </div>

        <div class="input-box">
          <input type="text"  required>
          <label>Last Name</label>
        </div>
      </div>

      <h6>Address</h6>
      <div class="address">
        <div class="input-box">
          <input type="text"  required>
          <label>Barangay</label>
        </div>

        <div class="input-box">
          <input type="text"  required>
          <label>City/Town</label>
        </div>

        <div class="input-box">
          <input type="text"  required>
          <label>Province</label>
        </div>
      </div>

      <h6>Others</h6>
      <div class="address">
        <div class="input-box">
          <input type="text"  required>
          <label>Contact Number</label>
        </div>

        <div class="input-box">
          <input type="text"  required>
          <label>Birthday</label>
        </div>

        <div class="input-box" id="age">
          <input type="floating" type="number"  required>
          <label>Age</label>
        </div>

        <div class="input-box" id="sex">
          <ion-item>
            <ion-label>Sex</ion-label>
            <ion-select interface="popover">
              <ion-select-option value="Male">Male</ion-select-option>
              <ion-select-option value="Female">Female</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </div>

      <div class="acad-info">
        <h3>ACADEMIC INFORMATION</h3>

        <div class="college-program">
          <ion-item [class.is-invalid]="collegeCtrl.invalid && collegeCtrl.touched" lines="none" style="margin-bottom: 20px">
            <ion-label position="floating-input">College</ion-label>
            <ion-select [(ngModel)]="college" name="college" required (ionChange)="updateCourses()" #collegeCtrl="ngModel" interface="popover">
              <ion-select-option *ngFor="let college of colleges" [value]="college.value">{{ college.name }}</ion-select-option>
            </ion-select>
            <ion-icon name="warning" slot="end" *ngIf="collegeCtrl.invalid && collegeCtrl.touched" color="danger"></ion-icon>
          </ion-item>
          <!-- <ion-text color="danger" *ngIf="collegeCtrl.invalid && collegeCtrl.touched">College is required</ion-text> -->

          <ion-item [class.is-invalid]="courseCtrl.invalid && courseCtrl.touched" lines="none">
            <ion-label>Program</ion-label>
            <ion-select [(ngModel)]="course" name="course" required #courseCtrl="ngModel" interface="popover">
              <ion-select-option *ngFor="let course of currentCourses" [value]="course">{{ course }}</ion-select-option>
            </ion-select>
            <ion-icon name="warning" slot="end" *ngIf="courseCtrl.invalid && courseCtrl.touched" color="danger"></ion-icon>
          </ion-item>
          <!-- <ion-text color="danger" *ngIf="courseCtrl.invalid && courseCtrl.touched">Course is required</ion-text> -->

        </div>
        <div class="input-box">
          <input type="text"  required>
          <label for="sectiom">Section</label>
        </div>
      </div>
    </div>
  </form>

  <div class="next">
    <ion-button routerLink="/interests">
      Next
    </ion-button>
  </div>
</ion-content>
