$mula: #025e00;     //Nasaririt Green
$dalluyon: #00195b; //Nasaririt Blue
$balitok: #ffdc18;  //Nasaririt Gold
$uging: black;      //Nasaririt Black
$aniniwan: #373737; //Nasaririt Shadow
$asok: #acacac;     //Nasaririt Light Gray
$dapo: #6a6a6a;     //Nasaririt Dark Gray
$pudaw: white;      //Nasaririt White

* {
  font-family: Damili-Regular;
}

img {
  width: 210pt;
  height: 210pt;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80pt;
}

.floating-sharkid {
  margin: 20px 0;
  position: relative;
  margin-top: -7pt;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 4;
}
.floating-sharkid label {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 93pt;
  color: $aniniwan;
  font-size: 13px;
  font-family: Damili-Light;
  pointer-events: none;
  background-color: white;
  padding: 0 3px;
  transition: 0.2s;
}

.floating-sharkid input {
  width: 135pt;
  height: 30pt;
  font-size: 16px;
  font-family: Damili-Regular;
  padding: 0 15px;
  border: 1pt solid $dalluyon;
  background: transparent;
  outline: none;
  border-radius: 7px;
}

.floating-sharkid input:focus~label, .floating-sharkid input:valid~label {
  top: 0;
  color: $dalluyon;
  font-size: 14px;
}

.container {
  position: relative;
}

.name {
  position: absolute;
  margin-left: 10pt;
  margin-top: 70pt;
  font-size: 30pt;
  color: $aniniwan;
  font-family: Damili-Bold;
  z-index: 2;
}

.description {
  position: absolute;
  margin-left: 12pt;
  font-size: 11pt;
  margin-top: 100pt;
  z-index: 2;
}

.information {
  margin-left: 12pt;
  font-size: 11pt;
  font-style: Damili-Light;
  color: $aniniwan;
  position: absolute;
  margin-top: 150pt;
  z-index: 2;
}

.creator {
  text-align: center;
  position: absolute;
  color: $asok;
  margin-top: 600pt;
  font-size: 9px;
  font-family: Damili-Light;
  z-index: 3;
}

#frenzy {
  font-family: Damili-SemiBold;
}

.one, .two {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.background ion-img {
  z-index: 1;
  margin-top: -30pt;
  height: 1300px;
  width: 1300px;

}

.three ion-button {
  width: 22%;
  font-family: Damili-Light;
  margin-top: 240pt;
  margin-left: 200pt;
  --background: #00195B;
  --border-radius: 7px;
  --box-shadow: none;
  --background-activated: #ffffff;
  --color-activated:$dalluyon;
  --ripple-color: $dalluyon 0.25;
  position:absolute;
  z-index: 4;
}

.back {
  margin-top: -85%;
  position:absolute;
  z-index: 4;
}

.back ion-button {
  margin-left: 7px;
  --padding-start:7pt;
  --padding-end: 7pt;
}

.back ion-icon {
  font-size: 15pt;
  color: $uging;
}







