<ion-header>
  <ion-toolbar>
    <ion-title>Highlights</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Pull to refresh -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- CURRENTS SECTION -->
  <div name="currents">
    <h3 class="currents">CURRENTS</h3>
    <div class="vertical-line"></div>
  </div>
  <div class="horizontal">
    <div class="line"></div>
  </div>

  <section class="slider-container">
    <div class="slider-wrapper">
      <ion-card *ngFor="let event of currents" (click)="openEventDetail(event)">
        <ion-card-header>
          <ion-card-title>{{ event.EventName }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>{{ event.Description }}</p>
          <p>{{ event.EventDate }}</p>
        </ion-card-content>
      </ion-card>
    </div>
  </section>

  <div class="horizontal">
    <div class="line"></div>
  </div>

  <!-- TODAY SECTION -->
  <div>
    <h3 style="font-family: 'Damili-Semibold'; font-size: 30px; margin-left: 10px;"><strong>TODAY</strong></h3>
  </div>
  <div class="today-div">
    <ion-card *ngFor="let event of todayEvents" (click)="openEventDetail(event)">
      <ion-card-header>
        <ion-card-title>{{ event.EventName }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{ event.Description }}</p>
        <p>{{ event.EventDate }}</p>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="horizontal">
    <div class="line"></div>
  </div>

  <!-- THIS MONTH SECTION -->
  <div>
    <h3 style="font-family: 'Damili-Semibold'; font-size: 30px; margin-left: 10px;"><strong>THIS MONTH</strong></h3>
  </div>
  <div class="month-div">
    <ion-card *ngFor="let event of thisMonthEvents" (click)="openEventDetail(event)">
      <ion-card-header>
        <ion-card-title>{{ event.EventName }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{ event.Description }}</p>
        <p>{{ event.EventDate }}</p>
      </ion-card-content>
  
    </ion-card>
  </div>

  <div class="horizontal">
    <div class="line"></div>
  </div>
</ion-content>
